<!DOCTYPE html>
<html id = "2">

    <head>
        <title>Page 2</title>
        
        <link rel="stylesheet" href="../css/style.css"></link><!--CSS-->
        <script src="../javascript/scripts.js"></script><!--JavaScript-->
    </head>

    <body>
       
        <header>
            <button class="left" onclick="goBack()"></button>
            <button class="home" onclick="goHome()"></button>
            <button class="right" onclick="goNext()"></button>
        </header>
        
        <h1>This is the second page</h1>

        <footer>

        </footer>
    </body>

</html>