<!DOCTYPE html>
<html>

    <head>
        <title>Page 1</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="topCard">
            <div class="slot">X</div>
            <div class="slot">X</div>
            <div class="center-slot">
                <a class="topButton left"></a>
                <a class="topButton home"></a>
                <a class="topButton right" href="page2.html"></a>
            </div>
            <div class="slot">X</div>
            <div class="slot">X</div>
        </div>
        
        <h1>This is the first page</h1>

    </body>

</html>