<!DOCTYPE html>
<html>

    <head>
        <title>Page 2</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="topCard">
            <div class="slot">X</div>
            <div class="slot">X</div>
            <div class="slot">
                <a class="topButton left" href="page1.html"></a>
                <a class="topButton home" href="page1.html"></a>
                <a class="topButton right" href="page3.html"></a>
            </div>
            <div class="slot">X</div>
            <div class="slot">X</div>
        </div>
        
        <h1>This is the second page</h1>

    </body>

</html>