<!DOCTYPE html>
<html>

    <head>
        <title>Page 1</title>

        <link rel="stylesheet" href="../css/style.css"></link><!--CSS-->
        <script src="../javascript/scripts.js"></script><!--JavaScript-->
    </head>

    <body>
        <div class="topCard">
            <div class="slot">X</div>
            <div class="slot">X</div>
            <div class="center-slot">
                <a class="topButton left"></a>
                <a class="topButton home"></a>
                <a class="topButton right" href="page2.html"></a>
            </div>
            <div class="slot">X</div>
            <div class="slot">X</div>
        </div>
        
        <h1>This is the first page</h1>
        <h2>This is my first topic</h2>
        <p>I'm not sure what I'm going to write here but I will be soon!</p>
        <img src="../images/NecoArc.jpg" alt="Neco arc image!"><br>
        <a href="https://www.google.com/search?q=neco+arc">neco arc image above!</a><br>
        <div class="table"></div>
        <script>squares();</script>
    </body>

</html>
