<!DOCTYPE html>
<html id = "1">

    <head>
        <title>Page 1</title>

        <link rel="stylesheet" href="../css/style.css"></link><!--CSS-->
        <script src="../javascript/scripts.js"></script><!--JavaScript-->
    </head>

    <body>

        <header>
            <button class="left" onclick="goBack()"></button>
            <button class="home" onclick="goHome()"></button>
            <button class="right" onclick="goNext()"></button>
        </header>
        
        <main>
            <section>
                <h1>This is page One!</h1>
                <h2>This is my first topic</h2>
                <p>I'm not sure what I'm going to write here but I will be soon!</p>
            </section>

            <section>
                <img src="../images/NecoArc.jpg" alt="Neco arc image!"><br>
                <a href="https://www.google.com/search?q=neco+arc">neco arc image above!</a>(Beware)
            </section>
            
            <section class="ababa">
                <div class="table"></div>
                <script>squares();</script>
            </section>
        </main>

        <footer>
            <p>Eveything is basically built with HTML and CSS (for now)</p>
            <p>Now there's a little bit of JavaScript!</p>
        </footer>
    </body>

</html>

 <!--
        Older Header (using older stylesheet):
        <div class="topCard">
            <div class="slot">X</div>
            <div class="slot">X</div>
            <div class="center-slot">
                <a class="topButton left" href="page1.html"></a>
                <a class="topButton home" href="index.html"></a>
                <a class="topButton right" href="page3.html"></a>
            </div>
            <div class="slot">X</div>
            <div class="slot">X</div>
        </div>
-->
