<!DOCTYPE html>
<html id = "0">

    <head>
        <title>Page 1</title>

        <link rel="stylesheet" href="../css/style.css"></link><!--CSS-->
        <script src="../javascript/scripts.js"></script><!--JavaScript-->
    </head>

    <body>

        <header>
            <button class="left" onclick="goBack()"></button>
            <button class="home" onclick="goHome()"></button>
            <button class="right" onclick="goNext()"></button>
        </header>

        <main>
            <br class="emptytextwall">
        </main>

        <footer>

        </footer>
    </body>
</html>