body{
    margin-top: 75px;
    padding: 0;
    background-color: #444444;
    color: white;
    font-family:fantasy;
    transition: 0;
}

.topButton{
    border: 0;
    width: 80px;
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    background-color: #000000;
    color: white;
    font-size: 10px;
    text-decoration: none;
    transition: 0.1s;
}
.topCard{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    background-color: #333333;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.slot {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topCard .topButton {
    opacity: 40%;
}

.topCard p {
    margin: 0;
}

.topCard:hover{
    background-color: #222222;
    height:60px;
    .topButton{
        opacity: 100%;
        transition:0.1s;
        transform: scale(1.5);
    }
    .topButton:hover{
        transition:0.1s;
        transform:scale(1.6);
        font-weight:600;
    }
}