body{
    margin-top: 75px;
    padding: 0;
    background-color: #444444;
    color: white;
    font-family:fantasy;
    transition: 0;
}

.topButton{
    border: 0;
    width: 80px;
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    background-color: #000000;
    color: white;
    font-size: 10px;
    text-decoration: none;
    transition: 0.1s;
}
.topCard{
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px; 
    background-color: #333333;
    justify-content: left;
    align-items: center;
    transition: 0.1s;
    .topButton{
        margin: 5px;
        opacity:40%;
    }
    .phantomTopButton{
        margin: 5px;
    }
}
.topCard p {
    margin: 0;
}
.phantomTopButton{
    border: 0;
    width: 80px;
    padding: 10px 0px;
    background-color: #00000000;
}
.topCard:hover{
    background-color: #222222;
    height:60px;
    .topButton{
        margin: 30px;
        opacity: 100%;
        transition:0.1s;
        transform: scale(1.5);
    }
    .topButton:hover{
        transition:0.1s;
        transform:scale(1.6);
        font-weight:600;
    }
    .phantomTopButton{
        margin: 30px;
        transition:0.2s;
    }
}